<h1>Class Schedule</h1>


<h3>Basic Batch</h3>

Classes will be on Monday and Friday at 5 pm

<h3>Intermediate Batch</h3>

Classes will be on Tuesday and Thursday at 5 pm


<h3>Advanced Batch</h3>

Classes will be on Saturday and Sunday at 5 pm

