<h1>Online Carnatic Music Vocal Curriculum</h1>
<li>Level 1:</li>
Sarali varisai,Janta varisai, upper stayi varisai, Daattu varisai
Alankarams with akara sadagams
Geetham
Swarajathi
<li>Level 2:</li>
Adi tala varnam
Ata tala varnam
Pada varnam
Small krithis
<li>Level 3:</li>
Advanced krithis
Shyama sasthry swarajathis
Pancharathna krithis
Navavarna krithis
Navagraha krithis
Pancha linga krithis
</li>Level 4:</li>
Manodharma sangeetham
Theory
Viruthams, Paasurams, Thillana, Padams, Javali, Abhangs, Bhajans, Ashtapathis
</li>Level 5:</li>
Pallavi singing
